auto_emailing_system/auto_email_reply_workflow (1).json
{
  "name": "Auto Email Reply Workflow",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "trigger",
        "label": "inbox",
        "query": "-from:me",
        "interval": 60
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_oauth_credentials_id",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": "Determine if the following email requires a reply. Output a JSON object with a single key 'needsReply' set to true or false. Email subject: {{ $node['Gmail Trigger'].json.subject }}. Email content: {{ $node['Gmail Trigger'].json.textAsHtml || $node['Gmail Trigger'].json.text }}",
        "responseFormat": {
          "type": "json",
          "jsonSchema": {
            "type": "object",
            "properties": {
              "needsReply": {
                "type": "boolean"
              }
            },
            "required": ["needsReply"]
          }
        }
      },
      "name": "Assess if Reply Needed",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "your_openai_api_credentials_id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "{{ $node['Assess if Reply Needed'].json.needsReply }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "If Reply Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "prompt": "You are a helpful personal assistant drafting email replies on my behalf. Create a professional, concise reply for the following email. Subject: {{ $node['Gmail Trigger'].json.subject }}. Message: {{ $node['Gmail Trigger'].json.textAsHtml || $node['Gmail Trigger'].json.text }}. Guidelines: Use a business casual tone, start with 'Hello,' and end with 'Best,'. For yes/no questions, provide both affirmative and negative responses separated by ' - - - - - - - OR - - - - - - - '. If you don't know the answer, use '[YOUR_ANSWER_HERE]'. Reply in the same language as the email. Output plain text."
      },
      "name": "Generate Email Reply",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [900, 200],
      "credentials": {
        "openAiApi": {
          "id": "your_openai_api_credentials_id",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "send",
        "to": "{{ $node['Gmail Trigger'].json.from.email }}",
        "subject": "Re: {{ $node['Gmail Trigger'].json.subject }}",
        "message": "{{ $node['Generate Email Reply'].json.text.replace(/\\n/g, '<br />\\n') }}",
        "inReplyTo": "{{ $node['Gmail Trigger'].json.messageId }}",
        "threadId": "{{ $node['Gmail Trigger'].json.threadId }}"
      },
      "name": "Send Reply",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [1120, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "your_gmail_oauth_credentials_id",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Assess if Reply Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess if Reply Needed": {
      "main": [
        [
          {
            "node": "If Reply Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Reply Needed": {
      "main": [
        [
          {
            "node": "Generate Email Reply",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate Email Reply": {
      "main": [
        [
          {
            "node": "Send Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}